.main {
    padding-top: 10rem;
    border-radius: 5px;
}

.screenNewAvis {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.945);
    color: black;
    padding : 2rem 0;
    border-radius: 5px;

    h2{
        font-weight: bolder;
        padding: 1rem;
    }

    
  

}

.btnValider{
    background-color: black;
    color : white;
    width: 70%;
    border-radius: 5px;
    padding: 1rem;
    
    
}

input{
    width: 70%;
    border-radius: 5px;
    padding: 1rem;
}
textarea{
    width: 70%;
    border-radius: 5px;
}