.list {
    background-color: gray;
    color: black;
    padding:  1rem;
    border-radius: 5px;
   
    
    

}

.link {
    color: white;
    font-weight: bolder;
    text-decoration: none ;
    cursor: pointer;
    margin-top: 10rem;
   
}

.screenList{
    max-width: 80%;
    margin: 0 auto;
}

.mainList{
    padding-top: 3rem;
}

.listProps{
    padding-top: 1rem;
}

h1{
    font-weight: bolder;

}